body {
  width: 1440px;
  height: 696px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 24px 156px;
  gap: 24px;
  margin: 0 auto;
  list-style: none;
}
  
  .gallery-image {
    width: 360px;
    height: 200px; 
  }
  
 